* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}


#header {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(images/background.jpg);

  background-size: cover;
  background-position: center;

  height: 100vh;

  width: 100%;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 100px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid darkcyan;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  background-color: darkcyan;
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 3px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 10%;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}

.header-text h1 span {
  color: darkcyan;
}

/* ----------about section css code ---=======------ */

#about {
  /* border: 1px solid white; */
  padding: 80px 0px;
  color: bisque;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column1 {
  flex-basis: 35%;
}

.column1 img {
  width: 100%;
  border-radius: 30px;
}

.column2 {
  flex-basis: 60%;
}

.column2 p {
  word-spacing: 2px;
  line-height: 20px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.title-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

}

.title-links::after {
  content: "";
  background-color: darkcyan;
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 3px;
  transition: 0.5s;
}

.title-links:hover::after {
  width: 100%;
}

.title-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  margin: 10px 0;
  list-style: none;
}

.tab-contents ul li span {
  color: darkcyan;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --------------services section------------------ */


#services {
  /* border: 1px solid white; */
  padding: 30px 0px;
  color: lightblue;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: #262626;
  border-radius: 10px;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  transition: background 0.5s, transform 0.5s;


}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}



/* ----------contact--------------------- */
/* 
#contact {
  border: 1px solid white;
  padding: 20px 10px;
} */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: darkcyan;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
  color: cadetblue;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkcyan;
  color: #fff;
  text-decoration: none;
  margin: 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.btn.btn2:hover {
  background-color: #ff004f;
}


.contact-right form {
  width: 100%;

}

form input,
form textarea {
  width: 100%;
  margin: 15px 0;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
}

form button {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  background: #262626;
  margin-top: 20px;
}

nav .fa-solid {
  display: none;
}

#msg {
  color: aqua;
  margin-top: -10px;
  display: block;
}

nav h1 {
  display: block;
  font-size: 55px;
  /* font-weight: 500; */
  color: #ff004f;
}

nav h1 .span1 {
  color: aqua
}

/* ------------RESPONSIVENESS--------------- */

@media only screen and (max-width: 600px) {

  .header-text {
    margin-top: 100%;
    font-size: 16px;

  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background-color: darkcyan;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;


  }

  .sub-title {
    font-size: 40px;

  }

  .column1,
  .column2 {
    flex-basis: 100%;
  }

  .column1 {
    margin-bottom: 30px;
  }

  .column2 {
    font-size: 14px;
  }

  .title-links {
    margin-right: 20px;
    font-size: 16px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
}